Repository dmitryserbin/azdev-release-orchestrator: changes, and which Azure pipelines are due for each by the changed paths.
All: CI/ci.yml, CI/release.yml

CI/ci.yml:

trigger: none

pr:
  branches:
    include:
    - master
  paths:
    include:
    - CI/*
    - Tasks/*
  autoCancel: true

jobs:
- template: templates/build.yml
  parameters:
    taskV1: true
    taskV2: true
    taskV3: true
    extension: true

CI/release.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - Tasks/*

parameters:
- name: publishPreview
  displayName: Publish preview
  type: boolean
  default: true
- name: testV1
  displayName: Test V1
  type: boolean
  default: true
- name: testV2
  displayName: Test V2
  type: boolean
  default: true
- name: testV3
  displayName: Test V3
  type: boolean
  default: true

stages:
- stage: Build
  jobs:
  - template: templates/build.yml
    parameters:
      taskV1: true
      taskV2: true
      taskV3: true
      extension: true

- stage: Preview
  dependsOn:
  - Build
  jobs:
  - template: templates/preview.yml
    parameters:
      publish: ${{ parameters.publishPreview }}
      testV1: ${{ parameters.testV1 }}
      testV2: ${{ parameters.testV2 }}
      testV3: ${{ parameters.testV3 }}
      cleanup: false

- stage: Release
  dependsOn:
  - Build
  - Preview
  jobs:
  - template: templates/release.yml
    parameters:
      environmentName: Marketplace
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))

Improve CI/CD pipelines (#69)
  CI/ci.yml
  CI/release.yml
  CI/templates/steps/test-cleanup.yml
  CI/templates/steps/test-v1.yml
  CI/templates/steps/test-v2.yml
  CI/templates/test-cleanup.yml
  CI/templates/test-v1.yml
  CI/templates/test-v2.yml
  CI/templates/test-v3.yml
  CI/templates/test.yml
  CI/test.yml
Due: CI/ci.yml

Add AzDev pipelines system diagnostics support
  CHANGELOG.md
  Tasks/OrchestratorV2/loggers/debugcreator.ts
  Tasks/OrchestratorV2/task.ts
Due: CI/ci.yml, CI/release.yml

Update docs
  Docs/OrchestratorV2.md
Due: none

Docs
  Docs/OrchestratorV2.md
Due: none

Add V2 CI cleanup task
  CI/templates/test-cleanup.yml
Due: CI/ci.yml

Add V2 support Azure DevOps pipelines system diagnostics (#70)
  CHANGELOG.md
  CI/templates/test-cleanup.yml
  Docs/OrchestratorV2.md
  Tasks/OrchestratorV2/loggers/debugcreator.ts
  Tasks/OrchestratorV2/task.ts
Due: CI/ci.yml, CI/release.yml

Fix changelog
  CHANGELOG.md
Due: none

Fix changelog (#71)
  CHANGELOG.md
Due: none

Fixed BuildTags parameter not assigned
  Tasks/OrchestratorV3/helpers/taskhelper/taskhelper.ts
Due: CI/ci.yml, CI/release.yml

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fixed BuildTags parameter not assigned (#72)
  CHANGELOG.md
  Tasks/OrchestratorV3/helpers/taskhelper/taskhelper.ts
Due: CI/ci.yml, CI/release.yml

Use specific API version for updateStage
  Tasks/OrchestratorV3/common/apiclient.ts
  Tasks/OrchestratorV3/common/iapiclient.ts
  Tasks/OrchestratorV3/extensions/buildapiretry/buildapiretry.ts
  Tasks/OrchestratorV3/factories/apifactory/apifactory.ts
  Tasks/OrchestratorV3/helpers/stageselector/stageselector.ts
Due: CI/ci.yml, CI/release.yml

small improvement + fix condition
  Tasks/OrchestratorV3/extensions/buildapiretry/buildapiretry.ts
Due: CI/ci.yml, CI/release.yml

Update formatting
  Tasks/OrchestratorV3/extensions/buildapiretry/buildapiretry.ts
Due: CI/ci.yml, CI/release.yml

Changelog
  CHANGELOG.md
Due: none

Improve force stage start mechanism (#76)
  CHANGELOG.md
  Tasks/OrchestratorV3/common/apiclient.ts
  Tasks/OrchestratorV3/common/iapiclient.ts
  Tasks/OrchestratorV3/extensions/buildapiretry/buildapiretry.ts
  Tasks/OrchestratorV3/factories/apifactory/apifactory.ts
  Tasks/OrchestratorV3/helpers/stageselector/stageselector.ts
Due: CI/ci.yml, CI/release.yml

Add V3 CI test
  CI/templates/steps/test-v3.yml
Due: CI/ci.yml

Update docs
  Docs/OrchestratorV3.md
  README.md
Due: none

Add CI test (#82)
  CI/templates/steps/test-v3.yml
  Docs/OrchestratorV3.md
  README.md
Due: CI/ci.yml

Fix PR trigger
  CI/release.yml
Due: CI/ci.yml

Bump extension version
  vss-extension.json
Due: none

Fix V2 code
  Tasks/OrchestratorV2/common/retry.ts
  Tasks/OrchestratorV2/helpers/taskhelper.ts
  Tasks/OrchestratorV2/orchestrator/reporter.ts
  Tasks/OrchestratorV2/package-lock.json
  Tasks/OrchestratorV2/task.json
  Tasks/OrchestratorV2/task.ts
Due: CI/ci.yml, CI/release.yml

Update
  Tasks/OrchestratorV2/.eslintrc
  Tasks/OrchestratorV2/package-lock.json
  Tasks/OrchestratorV2/package.json
  Tasks/OrchestratorV2/task.json
  Tasks/OrchestratorV2/task.ts
Due: CI/ci.yml, CI/release.yml

Update
  CHANGELOG.md
  Tasks/OrchestratorV2/orchestrator/reporter.ts
  Tasks/OrchestratorV2/package-lock.json
  Tasks/OrchestratorV3/package-lock.json
  Tasks/OrchestratorV3/package.json
  Tasks/OrchestratorV3/workers/progressreporter/progressreporter.ts
Due: CI/ci.yml, CI/release.yml

Remove parse-key-value-pair dependency
  Tasks/OrchestratorV2/helpers/commonhelper.ts
  Tasks/OrchestratorV2/helpers/taskhelper.ts
  Tasks/OrchestratorV2/interfaces/helpers/commonhelper.ts
  Tasks/OrchestratorV2/package-lock.json
  Tasks/OrchestratorV2/package.json
  Tasks/OrchestratorV2/task.ts
  Tasks/OrchestratorV2/tests/helpers/taskhelper.test.ts
Due: CI/ci.yml, CI/release.yml

Remove typescript-string-operations dependency
  Tasks/OrchestratorV2/orchestrator/creator.ts
  Tasks/OrchestratorV2/orchestrator/deployer.ts
  Tasks/OrchestratorV2/orchestrator/filtrator.ts
  Tasks/OrchestratorV2/orchestrator/monitor.ts
  Tasks/OrchestratorV2/orchestrator/orchestrator.ts
  Tasks/OrchestratorV2/orchestrator/reporter.ts
  Tasks/OrchestratorV2/package-lock.json
  Tasks/OrchestratorV2/package.json
  Tasks/OrchestratorV3/helpers/buildselector/buildselector.ts
  Tasks/OrchestratorV3/package-lock.json
  Tasks/OrchestratorV3/package.json
  Tasks/OrchestratorV3/workers/progressmonitor/progressmonitor.ts
  Tasks/OrchestratorV3/workers/progressreporter/progressreporter.ts
  Tasks/OrchestratorV3/workers/rundeployer/rundeployer.ts
Due: CI/ci.yml, CI/release.yml

Update
  .vscode/settings.json
  Tasks/OrchestratorV2/package-lock.json
  Tasks/OrchestratorV2/package.json
  Tasks/OrchestratorV3/.eslintrc
  Tasks/OrchestratorV3/package-lock.json
  Tasks/OrchestratorV3/package.json
Due: CI/ci.yml, CI/release.yml

Fix lint issues
  Tasks/OrchestratorV2/.eslintrc
  Tasks/OrchestratorV2/common/retry.ts
  Tasks/OrchestratorV2/extensions/buildapiretry.ts
  Tasks/OrchestratorV2/extensions/releaseapiretry.ts
  Tasks/OrchestratorV2/factories/apifactory.ts
  Tasks/OrchestratorV2/helpers/commonhelper.ts
  Tasks/OrchestratorV2/helpers/releasehelper.ts
  Tasks/OrchestratorV2/helpers/taskhelper.ts
  Tasks/OrchestratorV2/interfaces/common/releasefilter.ts
  Tasks/OrchestratorV2/interfaces/common/releasejob.ts
  Tasks/OrchestratorV2/interfaces/common/releaseprogress.ts
  Tasks/OrchestratorV2/interfaces/common/stageprogress.ts
  Tasks/OrchestratorV2/interfaces/extensions/buildapiretry.ts
  Tasks/OrchestratorV2/interfaces/extensions/releaseapiretry.ts
  Tasks/OrchestratorV2/interfaces/helpers/releasehelper.ts
  Tasks/OrchestratorV2/orchestrator/approver.ts
  Tasks/OrchestratorV2/orchestrator/creator.ts
  Tasks/OrchestratorV2/orchestrator/deployer.ts
  Tasks/OrchestratorV2/orchestrator/filtrator.ts
  Tasks/OrchestratorV2/orchestrator/monitor.ts
  Tasks/OrchestratorV2/orchestrator/orchestrator.ts
  Tasks/OrchestratorV2/orchestrator/reporter.ts
  Tasks/OrchestratorV2/task.ts
  Tasks/OrchestratorV2/tests/common/retry.test.ts
  Tasks/OrchestratorV2/tests/helpers/taskhelper.test.ts
  Tasks/OrchestratorV2/tests/orchestrator/approver.test.ts
  Tasks/OrchestratorV2/tests/orchestrator/creator.test.ts
  Tasks/OrchestratorV2/tests/orchestrator/deployer.test.ts
  Tasks/OrchestratorV2/tests/orchestrator/filtrator.test.ts
  Tasks/OrchestratorV2/tests/orchestrator/monitor.test.ts
  Tasks/OrchestratorV2/tests/orchestrator/orchestrator.test.ts
Due: CI/ci.yml, CI/release.yml

Fix linting issues
  Tasks/OrchestratorV3/.eslintrc
  Tasks/OrchestratorV3/common/retry.ts
  Tasks/OrchestratorV3/extensions/buildapiretry/buildapiretry.ts
  Tasks/OrchestratorV3/extensions/buildapiretry/ibuildapiretry.ts
  Tasks/OrchestratorV3/extensions/buildwebapiretry/buildwebapiretry.ts
  Tasks/OrchestratorV3/extensions/pipelinesapiretry/pipelineapiretry.ts
  Tasks/OrchestratorV3/factories/apifactory/apifactory.ts
  Tasks/OrchestratorV3/helpers/buildselector/buildselector.ts
  Tasks/OrchestratorV3/helpers/commonhelper/commonhelper.ts
  Tasks/OrchestratorV3/helpers/stageselector/stageselector.ts
  Tasks/OrchestratorV3/helpers/taskhelper/taskhelper.ts
  Tasks/OrchestratorV3/orchestrator/irunprogress.ts
  Tasks/OrchestratorV3/orchestrator/orchestrator.ts
  Tasks/OrchestratorV3/tests/common/retry.test.ts
  Tasks/OrchestratorV3/tests/workers/filtercreator.test.ts
  Tasks/OrchestratorV3/tests/workers/progressmonitor.test.ts
  Tasks/OrchestratorV3/tests/workers/rundeployer.test.ts
  Tasks/OrchestratorV3/tests/workers/stageapprover.test.ts
  Tasks/OrchestratorV3/workers/filtercreator/filtercreator.ts
  Tasks/OrchestratorV3/workers/filtercreator/ipipelinefilter.ts
  Tasks/OrchestratorV3/workers/filtercreator/irepositoryfilter.ts
  Tasks/OrchestratorV3/workers/filtercreator/iresourcesfilter.ts
  Tasks/OrchestratorV3/workers/progressmonitor/ibuildapproval.ts
  Tasks/OrchestratorV3/workers/progressmonitor/ibuildcheck.ts
  Tasks/OrchestratorV3/workers/progressmonitor/ibuildcheckpoint.ts
  Tasks/OrchestratorV3/workers/progressmonitor/ibuildjob.ts
  Tasks/OrchestratorV3/workers/progressmonitor/ibuildstage.ts
  Tasks/OrchestratorV3/workers/progressmonitor/ibuildtask.ts
  Tasks/OrchestratorV3/workers/progressmonitor/progressmonitor.ts
  Tasks/OrchestratorV3/workers/progressreporter/progressreporter.ts
  Tasks/OrchestratorV3/workers/runcreator/irun.ts
  Tasks/OrchestratorV3/workers/rundeployer/rundeployer.ts
  Tasks/OrchestratorV3/workers/stageapprover/stageapprover.ts
  Tasks/OrchestratorV3/workers/stagedeployer/stagedeployer.ts
Due: CI/ci.yml, CI/release.yml

Use hosted agents
  CI/ci.yml
  CI/release.yml
  CI/templates/build.yml
  CI/templates/preview.yml
  CI/templates/release.yml
  CI/templates/test-cleanup.yml
  CI/templates/test-v2.yml
  CI/templates/test-v3.yml
  CI/test.yml
Due: CI/ci.yml
