Repository dmitryserbin/azdev-release-orchestrator: changes, and which Azure pipelines are due for each by the changed paths.
All: CI/ci.yml, CI/release.yml

CI/ci.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yml
    parameters:
      taskV2: true
      taskV3: true
      extension: true

CI/release.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yml
      parameters:
        taskV2: true
        taskV3: true
        extension: true
  - stage: Preview
    dependsOn:
    - Build
    jobs:
    - template: templates/preview.yml
      parameters:
  ...

Use private pool for tests
  CI/test.yml
Due: CI/ci.yml

Use new pipeline runs
  CI/templates/test-v2.yml
Due: CI/ci.yml

Changelog
  CHANGELOG.md
Due: none

Fix CI bug
  CI/templates/preview.yml
Due: CI/ci.yml

Fix CI bug (#85)
  CI/templates/preview.yml
Due: CI/ci.yml

Add empty pipeline parameter support
  CHANGELOG.md
  Docs/OrchestratorV2.md
  Docs/OrchestratorV3.md
  Tasks/OrchestratorV2/helpers/commonhelper.ts
  Tasks/OrchestratorV2/tests/helpers/commonhelper.test.ts
  Tasks/OrchestratorV3/helpers/commonhelper/commonhelper.ts
Due: CI/ci.yml, CI/release.yml

Update packages
  Tasks/OrchestratorV2/package-lock.json
  Tasks/OrchestratorV2/package.json
  Tasks/OrchestratorV3/package-lock.json
  Tasks/OrchestratorV3/package.json
Due: CI/ci.yml, CI/release.yml

Update VS settings
  .vscode/settings.json
Due: none

Add manual test
  .gitignore
  Tasks/OrchestratorV3/tests/orchestrator/console.test.ts
Due: CI/ci.yml, CI/release.yml

Move
  Tasks/OrchestratorV3/tests/orchestrator/console.test.ts
Due: CI/ci.yml, CI/release.yml

Add V3 empty pipeline parameter value validation
  CHANGELOG.md
  Docs/OrchestratorV3.md
  Tasks/OrchestratorV3/helpers/taskhelper/taskhelper.ts
  Tasks/OrchestratorV3/tests/helpers/taskhelper.test.ts
Due: CI/ci.yml, CI/release.yml

Update test
  Tasks/OrchestratorV3/tests/orchestrator/console.test.ts
Due: CI/ci.yml, CI/release.yml

Add test explorer settings
  .vscode/extensions.json
  .vscode/settings.json
  local.env
Due: none

Cleanup
  local.env
Due: none

Gitignore
  .gitignore
Due: none

Improve empty pipeline/release parameter support (#87)
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  CHANGELOG.md
  Docs/OrchestratorV2.md
  Docs/OrchestratorV3.md
  Tasks/OrchestratorV2/helpers/commonhelper.ts
  Tasks/OrchestratorV2/package-lock.json
  Tasks/OrchestratorV2/package.json
  Tasks/OrchestratorV2/tests/helpers/commonhelper.test.ts
  Tasks/OrchestratorV3/helpers/commonhelper/commonhelper.ts
  Tasks/OrchestratorV3/helpers/taskhelper/taskhelper.ts
  Tasks/OrchestratorV3/package-lock.json
  Tasks/OrchestratorV3/package.json
  Tasks/OrchestratorV3/tests/helpers/taskhelper.test.ts
  Tasks/OrchestratorV3/tests/orchestrator/console.test.ts
Due: CI/ci.yml, CI/release.yml

Target test project
  CI/templates/test-v3.yml
Due: CI/ci.yml

Test
  CI/templates/steps/test-v3.yml
Due: CI/ci.yml

Untest
  CI/templates/steps/test-v3.yml
Due: CI/ci.yml

Untest
  CI/templates/steps/test-v3.yml
  Docs/OrchestratorV3.md
Due: CI/ci.yml

Update docs
  Docs/OrchestratorV3.md
Due: none

Update
  CI/templates/test-v3.yml
Due: CI/ci.yml

Update documentation (#88)
  Docs/OrchestratorV3.md
Due: none

fix
  Tasks/OrchestratorV2/helpers/releasehelper.ts
  Tasks/OrchestratorV2/tests/helpers/releasehelper.test.ts
Due: CI/ci.yml, CI/release.yml

Code linting
  Tasks/OrchestratorV2/helpers/releasehelper.ts
  Tasks/OrchestratorV2/tests/helpers/releasehelper.test.ts
Due: CI/ci.yml, CI/release.yml

substituted mocked object thenable trick with mocked target
  .vscode/launch.json
  Tasks/OrchestratorV2/.vscode/launch.json
  Tasks/OrchestratorV2/.vscode/tasks.json
  Tasks/OrchestratorV2/tests/helpers/releasehelper.test.ts
Due: CI/ci.yml, CI/release.yml

Linted
  Tasks/OrchestratorV2/tests/helpers/releasehelper.test.ts
Due: CI/ci.yml, CI/release.yml

Removed files that should not be committed.
  .vscode/launch.json
  Tasks/OrchestratorV2/.vscode/launch.json
  Tasks/OrchestratorV2/.vscode/tasks.json
Due: CI/ci.yml, CI/release.yml

Removed no more useful comment
  Tasks/OrchestratorV2/tests/helpers/releasehelper.test.ts
Due: CI/ci.yml, CI/release.yml

Fixed linter warnings.
  Tasks/OrchestratorV2/tests/helpers/releasehelper.test.ts
Due: CI/ci.yml, CI/release.yml

Fix definitionId filter support (#94)
  Tasks/OrchestratorV2/helpers/releasehelper.ts
  Tasks/OrchestratorV2/tests/helpers/releasehelper.test.ts
Due: CI/ci.yml, CI/release.yml

Fix extension badge
  README.md
Due: none

Fix extension badge (#96)
  CHANGELOG.md
  README.md
Due: none

Update input name for build number
  Tasks/OrchestratorV3/helpers/taskhelper/taskhelper.ts
Due: CI/ci.yml, CI/release.yml

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix buildNumber parameter name (#97)
  CHANGELOG.md
  Tasks/OrchestratorV3/helpers/taskhelper/taskhelper.ts
Due: CI/ci.yml, CI/release.yml

Path conditions:
  CI/ci.yml: any of: CI, Tasks
  CI/release.yml: any of: Tasks
